{% extends 'customers/base.html' %}
{% block content %}
<div class="container mt-4">
    <a href="{% url 'apply_loan' %}" class="btn btn-primary mb-3">Apply for Loan</a>

    <h2>All Loans</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Loan Type</th>
                <th>Amount</th>
                <th>EMI</th>
                <th>Tenure</th>
                <th>Status</th>
                <th>Linked Account</th>
            </tr>
        </thead>
        <tbody>
            {% for loan in loans %}
            <tr>
                <td>{{ loan.customer.first_name}} {{ loan.customer.last_name}}</td>
                <td>{{ loan.loan_type }}</td>
                <td>{{ loan.amount }}</td>
                <td>{{ loan.emi_amount }}</td>
                <td>{{ loan.tenure_months }} months</td>
                <td>{{ loan.status }}</td>
                <td>{{ loan.linked_account.account_type }} - ₹{{ loan.linked_account.balance }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
